<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Qubit - Image Restoration</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">-->
        <!--<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>-->
        <!--<script src="{{ url_for('static', filename='popper.min.js') }}"></script>-->
        <!--<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>-->

        <link rel=stylesheet type=text/css href="https://bootswatch.com/4/simplex/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
        <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>
    <body class="page">
        <h1>Qubit Team</h1>
        <hr/>
        <h2 class="center">Image Restoration</h2>


        <table class="table-main" border="0">
            <tbody>

                <!-- Image Headers -->
                <tr class='center'>
                    <td><h5>Original Image</h5></td>
                    <td></td>
                    <td><h5>Filtered Image</h5></td>
                </tr>

                <!-- Image showcase -->
                <tr>
                    <td width="45%">
                        <!--Fill with image template-->
                        <div id="source_img"></div>
                    </td>
                    <td width="10%"></td>
                    <td width="45%">
                        <!--Fill with image template-->
                        <div id="target_img"></div>
                    </td>
                </tr>

                <!--Upload and Apply buttons-->
                <tr class='right'>
                    <td>
                        <form id="browse_form" enctype="multipart/form-data">
                            <spa>
                                <input type="file" name="image">
                                <input id="upload_btn" type=button class="btn btn-primary" value="Upload">
                            </spa>
                        </form>
                    </td>
                    <td></td>
                    <td>
                        <table width="100%">
                            <tr>
                                <!--Fill with display options template-->
                                <td width="80%"><div id="display_wrapper"></div></td>
                                <td width="20%"><input id="apply_btn" type="button" class="btn btn-primary" value="Apply"></td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- Tabular settings -->
                <tr>
                    <td colspan="3">

                        <!-- Tab headers-->
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#statistical">Statistical</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#periodic">Periodic</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#noise">Generate Noise</a>
                            </li>
                        </ul>

                        <!-- Tab content using wrappers -->
                        <div id="tab-content" class="tab-content">

                            <!--Statistical content-->
                            <div class="tab-pane fade in active show" id="statistical">
                                <div id="statistical-wrapper"></div>
                            </div>

                            <!-- Periodic content-->
                            <div class="tab-pane fade" id="periodic">
                                <div id="periodic-wrapper"></div>
                            </div>

                            <!-- Generative Noise content -->
                            <div class="tab-pane fade" id="noise">
                                <div id="noise-wrapper"></div>
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

        <hr />
    </body>
</html>

<script>
    $("#display_wrapper").load('static/display.html');
    $("#statistical-wrapper").load('static/statistical.html');
    $("#periodic-wrapper").load('static/periodic.html');
    $("#noise-wrapper").load('static/noise.html');

    $("#upload_btn").click(function()
    {
        $.ajax({
            type: "POST",
            url: "/upload",
            data: new FormData($('#browse_form')[0]),
            processData: false,
            contentType: false,
            success: function(response) {
                $("#source_img").html(response);
            },
            error: function(xhr) {
                alert("You didn't select an image!");
            }
        });
    });

    $("#displaychoice").change(function()
    {
        var displayOption = $($("#display_wrapper option:selected")[0]).val();
        var data = {
            'display': displayOption
        };

        // Ajax request
        $.ajax({
            type: "POST",
            url: "/display",
            data: JSON.stringify(data, null, '\t'),
            contentType: 'application/json;charset=UTF-8',
            success: function(response) {
                $("#target_img").html(response);
            },
            error: function(xhr) {
                alert("Something went wrong!");
            }
        });
    });


    $("#apply_btn").click(function ()
    {
        setLoadingGif();
        var data = {
            'method': null,
            'settings': null,
            'display': null,
        };

        data['method']  = $("#tab-content > .show").attr('id');
        data['display'] = $($("#display_wrapper option:selected")[0]).val();


        switch(data['method'])
        {
            case 'statistical':
                data['settings'] = getStatisticalSettings();
                break;
            case 'periodic':
                data['settings'] = getPeriodicSettings();
                break;
            case 'noise':
                data['settings'] = getGenerativeNoiseSettings();
                break;
            default:
                data['settings'] = {};
        }

        // Debug alert
{#        alert(JSON.stringify(data, null, '\t'));#}

        // Ajax request
        $.ajax({
            type: "POST",
            url: "/apply",
            data: JSON.stringify(data, null, '\t'),
            contentType: 'application/json;charset=UTF-8',
            success: function(response) {
                $("#target_img").html(response);
            },
            error: function(xhr) {
                alert("Something went wrong!");
            }
        });
    });

    var getStatisticalSettings = function()
    {
        var settings = {};
        settings['filter_name'] = $("#filter_type").val();
        settings['window'] = parseInt($("#win_size").val());
        settings['Q'] = parseFloat($("#q").val());
        settings['d'] = parseFloat($("#d").val());
        return settings;
    };

    var getPeriodicSettings = function()
    {
        var settings = {};
        settings['filter'] = $("input[name='filterchoice']:checked").val();

        var sub_ftype = "#" + settings['filter'] + "_filter_type"
        if($(sub_ftype).val())
            settings['filter_name'] = $(sub_ftype).val();
        else
            settings['filter_name'] = settings['filter']


        settings['width']   = parseFloat($('#'+ settings['filter'] +'_width').val());
        settings['order']   = parseFloat($('#'+ settings['filter'] +'_order').val());
        settings['cutoff']  = parseFloat($('#'+ settings['filter'] +'_cutoff').val());

        settings['notch_centerbox'] = parseFloat($('#'+ settings['filter'] +'_centerbox').val());
        settings['notch_sd']        = parseFloat($('#'+ settings['filter'] +'_sd').val());
        settings['k_param']         = parseFloat($('#'+ settings['filter'] +'_k').val());
        settings['spectrum_noise_orgimg']  = parseFloat($('#'+ settings['filter'] +'_spn').val());

        return settings;
    };

    var getGenerativeNoiseSettings = function ()
    {
        var settings = {};
        settings['noise'] = $("input[name='noisechoice']:checked").val();

        switch(settings['noise'])
        {
            case "generative_noise_option":
                settings['generative_noise_cutoff'] = $('#generative_noise_cutoff').val();
                break;

            case "generative_blur_option":
                settings['generative_noise_k'] = $('#generative_noise_k').val();
                break;
        }

        var noiseImagePath = $($("#browse_noise_form").find("input[name='image']")[0]).val();
        var noiseImageName = noiseImagePath.split("\\").pop();
        settings['noise_image'] = noiseImageName;

        return settings;
    };

    var setLoadingGif = function ()
    {
        $("#target_img").html("<img src='static/loading.gif' alt='Loading'>");
    };

</script>


