<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Qubit - Image Restoration</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    </head>
    <body class="page">
        <h1>Qubit Team</h1>
        <hr/>
        <h2 class="center">Image Restoration</h2>


        <table class="table-main" border="0">
            <tbody>

                <!-- Image Headers -->
                <tr class='center'>
                    <td><h5>Original Image</h5></td>
                    <td></td>
                    <td><h5>Filtered Image</h5></td>
                </tr>

                <!-- Image showcase -->
                <tr>
                    <td width="45%">
                        <!--Fill with image template-->
                        <div id="source_img"></div>
                    </td>
                    <td width="10%"></td>
                    <td width="45%">
                        <!--Fill with image template-->
                        <div id="target_img"></div>
                    </td>
                </tr>

                <!--Upload and Apply buttons-->
                <tr class='right'>
                    <td>
                        <form id="browse_form" enctype="multipart/form-data">
                            <spa>
                                <input type="file" name="image">
                                <input id="upload_btn" type=button class="btn btn-primary" value="Upload">
                            </spa>
                        </form>
                    </td>
                    <td></td>
                    <td>
                        <!--Fill with display options template-->
                        <div id="display_wrapper"></div>
                    </td>
                </tr>

                <!-- Tabular settings -->
                <tr>
                    <td colspan="3">

                        <!-- Tab headers-->
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#statistical">Statistical</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#periodic">Periodic</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#noise">Generate Noise</a>
                            </li>
                        </ul>

                        <!-- Tab content using wrappers -->
                        <div id="tab-content" class="tab-content">

                            <!--Statistical content-->
                            <div class="tab-pane fade in active show" id="statistical">
                                <div id="statistical-wrapper"></div>
                            </div>

                            <!-- Periodic content-->
                            <div class="tab-pane fade" id="periodic">
                                <div id="periodic-wrapper"></div>
                            </div>

                            <!-- Generative Noise content -->
                            <div class="tab-pane fade" id="noise">
                                <div id="noise-wrapper"></div>
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

        <hr />
    </body>
</html>

<script>
    $("#display_wrapper").load('static/display.html');
    $("#statistical-wrapper").load('static/statistical.html');
    $("#periodic-wrapper").load('static/periodic.html');
    $("#noise-wrapper").load('static/noise.html');

    $("#upload_btn").click(function(){
        $.ajax({
            type: "POST",
            url: "/upload",
            data: new FormData($('#browse_form')[0]),
            processData: false,
            contentType: false,
            success: function(response) {
                $("#source_img").html(response);
            },
            error: function(xhr) {
                alert("You didn't select an image!");
            }
        });
    });

    $("#apply_btn").click(function () {
        // data structure
        var data = {
            'filter': null,
            'filter_settings': null,
            'display': null
        };

        // Filter settings
        data['filter'] = $("input[name='filterchoice']:checked").val();
        switch(data['filter'])
        {
            case "bandreject":
                var filterType = $('#bandreject_type').val();
                var thickness = $('#thickness').val();
                var radius = $('#radius').val();
                var settings = {
                    'type': filterType,
                    'thickness':thickness,
                    'radius': radius
                };
                data['filter_settings'] = settings;
                break;

            case "notch":
                var filterType = $('#notch_type').val();
                var settings = { 'type': filterType };
                data['filter_settings'] = settings;
                break;
            default:
                data['filter_settings'] = {};
        };

        // Display options
        data['display'] = $("input[name='displaychoice']:checked").val();

        // Debug alert
        alert(JSON.stringify(data, null, '\t'));

        // Ajax request
        $.ajax({
            type: "POST",
            url: "/apply",
            data: JSON.stringify(data, null, '\t'),
            contentType: 'application/json;charset=UTF-8',
            success: function(response) {
                $("#target_img").html(response);
            },
            error: function(xhr) {
                alert("Something went wrong!");
            }
        });
    });
</script>







