.table-main{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 200px;
}

.right{
    text-align:right;
}

.left{
    text-align:left;
}

.center{
    text-align:center;
}

.tab{
    margin-left: 10%;
}

.page {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 25px;
    padding-bottom: 30px;
}

#source_img, #target_img{
    min-height: 70px;
}

img{
    width:100%;
}

/*https://bootswatch.com/simplex/?optionsRadios=option1*/